{
    "auth": {
        "username": "",
        "password": "",
        "clientID": "",
        "clientSecret": ""
    },
    "database": {
        "host": "127.0.0.1",
        "user": "root",
        "password": "hunter2",
        "database": "redditeco"
    },
    "currency": {
        "singular": "dollar",
        "plural": "dollars",
        "symbol": "$",
        "startBalance": 1000
    },
    "subreddits": [
        "RedditEco",
        "RedditEcoTest"
    ]
}