{
    "auth": {
        "username": "",
        "password": "",
        "clientID": "",
        "clientSecret": ""
    },
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "database": ""
    },
    "currency": {
        "singular": "",
        "plural": "",
        "symbol": ""
    }
}